@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
  font-family: Optimist, 'Avenir Next', sans-serif;
}

.planContainer {
  display: block;
  position: absolute;
  top: 10%;
  left: 5%;
  width: 1095px;
  min-height: 600px;
  border: 2px solid black;
  overflow: hidden;
}

.todayLine {
  height: 100%;
  width: 0px;
  position: absolute;
  top: 0;
  border: 1px dotted darkblue;
}
.vertBarHolder {
  display: flex;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid pink;
}
.vertBar {
  /* background-color: rgba(0, 255, 255, 30%); */
  border-right: 1px solid #cccccc;
  flex-grow: 1;
  min-height: 600px;
  text-align: center;
  vertical-align: bottom;
}

.vertBar:last-child {
  border: 0;
}

.eventContainer {
  position: absolute;
  top: 2rem;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.eventRow {
  /* height: 1.5rem; */
  vertical-align: middle;
  padding: 0;
}

.eventItem {
  /* height: 1.5rem; */
  vertical-align: middle;
  padding: 2px 5px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}

.notes {
  display: block;
  font-size: 9pt;
}
.graph {
  position: relative;
  width: 60px;
  height: 5px;
  border: 1px solid black;
  top: calc(100% - 8px);
  left: calc(100% - 62px);
}

.banner {
  display: flex;
  position: absolute;
  top: 0;
  width: 100%;
  background-color: #f2f2f2;
  gap: 1rem;
}

.tooltip {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black;  */
  /* If you want dots under the hoverable text */
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.miniTimeline {
  display: flex;
  position: relative;
  flex-direction: column;
  padding-bottom: 4px;
  margin-bottom: 4px;
}
.miniEvent {
  position: relative;
  border-bottom: 2px solid rgba(0, 99, 0, 100%);
  font-size: 9pt;
  text-wrap: nowrap;
}
